body {
  background-color: #483838;
}

.App {
  background-color: #D2D79F;
  min-height: 90vh;
  width: 400px;
  margin: 20px auto;
  }

.crossed {
  text-decoration: line-through 2px #F24A72;
  background-color: #90B77D;
}

ul, li {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  display: flex;
  justify-content: center;
}

.add {
  background: #4B8673;
  margin-top: 5px;
}

.delete {
  background: #A25B5B;
  margin-bottom: 5px;
}

button {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Source Code Pro', monospace;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Source Code Pro', monospace;
}

img {
  border-radius: 10%;
  padding: 5px;
}

ul {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  padding: 10px 20px;
  
}

li {
 display: flex;
 justify-content: space-between;
 padding: 2px;
 font-size: 20px;
}


